/* パーツ＞ボタンのスタイル */

/* 立体的なボタン */
.square-shadow {
  display: inline-block;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin-bottom: 1rem;
}
.square-shadow:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

/* 文字をエンボス */
.square-emboss {
  display: inline-block;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #4868ad;/*ボタン色より暗く*/
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
}
  
.square-emboss:active  {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
/* 浮き出し文字 */
.square-raised {
  display: inline-block;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #668ad8;/*ボタン色と同じに*/
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #627295;
  border-radius: 3px;/*角の丸み*/
  font-weight: bold;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
  margin-bottom: 1rem;
}
    
.square-raised:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

/* 斜めから見たように */
.square-slant {
  display: inline-block;
  position: relative;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 5px #36528c;/*ボタン色より暗めに*/
  border-right: solid 5px #5375bd;/*ボタン色より暗めに*/
  margin-bottom: 1rem;
}

.square-slant:before {  
  content: " ";
  position: absolute;
  bottom: -5px;
  left: -1px;
  width: 0;
  height: 0;
  border-width: 0 6px 6px 0px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #FFF;
}
  
.square-slant:after {  
  content: " ";
  position: absolute;
  top: -1px;
  right: -5px;
  width: 0;
  height: 0;
  border-width: 0px 6px 6px 0px;
  border-style: solid;
  border-color: #FFF;
  border-bottom-color: transparent;
}

.square-slant:active {
  /*ボタンを押したとき*/
  border:none;
  -webkit-transform: translate(6px,6px);
  transform: translate(6px,6px);
}
  
.square-slant:active:after, .square-slant:active:before {
  content: none;/*ボタンを押すと線が消える*/
}

/* ポップに */
.square-so-pop {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  background: #5375bd;/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 3px #36528c;/*線色*/
  margin-bottom: 1rem;
}

.square-so-pop:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }

/* 表面に丸みのある角丸ボタン */
.square-soft {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  background: linear-gradient(#5375bd 0%, #36528c 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  margin-bottom: 1rem;
}

.square-soft:active {
  /*押したとき*/
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*沈むように*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(#5375bd 0%, #36528c 100%);/*グラデーションを明るく*/
}

/* 付箋風 */
.btn-sticky {
  display: inline-block;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #5375bd;/*左線*/
  color: #5375bd;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  margin-bottom: 1rem;
}
.btn-sticky:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}

/* マウスオーバーでボタン押したような動き */
.btn-border-shift {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  position: relative;
  font-weight: bold;
  border-radius: 10px;
  color: #5375bd;
  border: 3px solid #5375bd;
  box-shadow: 5px 5px #5375bd;
  transition: 0.3s ease-in-out;
  margin-bottom: 1rem;
  margin-right: 8px;
}
.btn-border-shift:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
  color: #5375bd;
}


/* 囲み線をずらしたボタンデザイン */
.btn_17 {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  position: relative;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: #5375bd;
  background: #e1f3f9;
  transition: 0.3s ease-in-out;
  margin-bottom: 1rem;
}
.btn_17::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 2px solid #5375bd;
  transition: 0.2s;
}
.btn_17:hover {
  background: #5375bd;
  color: #fff;
}
.btn_17:hover::before {
  top: 0;
  left: 0;
}

/* 影付き角丸 */
.btn_radius_shadow{
  position: relative;
  display: inline-block;    
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: #5375bd;
  border-bottom: 2px solid #5375bd;
  border-radius: 100vh;
  box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
  transition: 0.5s;
  margin-bottom: 1rem;
}

.btn_radius_shadow:hover{
  color: #fff;
  background: #5375bd;
  border-bottom: 2px solid #fff;
  transform: translateY(3px);
}


/* 色付き影角丸 */
a.btn-border-shadoww--color {
position: relative;
background: #fff;
padding: 0.5rem 1rem;
margin-bottom: 1rem;
color: #5375bd;
font-weight: bold;
}

a.btn-border-shadoww--color:before {
  position: absolute;
  top: -3px;
  left: -3px;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 3px solid #5375bd;
  border-radius: 0.5rem;
}

a.btn-border-shadoww--color:hover:before {
  top: 0;
  left: 0;
}

a.btn-border-shadow--color2 {
  border-radius: 100vh;
}

a.btn-border-shadow--color2:before {
  border-radius: 100vh;
  -webkit-box-shadow: 3px 3px 0 #78e5e5;
  box-shadow: 3px 3px 0 #78e5e5;
}
/* 平面的なボタン */
/* 二重線で囲う */
.double-border {
  display: inline-block;
  text-decoration: none;
  color: #5375bd;
  border: double 4px #5375bd;
  border-radius: 3px;
  transition: .4s;
  margin-bottom: 1rem;
}
.double-border:hover {
  background: #fffbef;
} 

/* 点線で囲う */
.dashed-border {
  display: inline-block;
  text-decoration: none;
  color: #5375bd;
  border: dashed 1px #5375bd;
  background: #f2fcff;
  border-radius: 3px;
  transition: .4s;
  margin-bottom: 1rem;
}
  
.dashed-border:hover {
  background: #cbedff;
  color: #FFF;
}

/* 両端を挟む */
.vertical-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  border-left: solid 4px #668ad8;
  border-right: solid 4px #668ad8;
  color: #668ad8;
  background: #e1f3ff;
  transition: .4s;
  margin-bottom: 1rem;
}
  
.vertical-border:hover {
  background: #668ad8;
  color: #FFF;
}

/* 下線ボタン */
.border_bottom{
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #5375bd;  
  margin-bottom: 1rem;
}
  
.border_bottom:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#5375bd;
  transition: .2s;
}

.border_bottom:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

/* 上下線ボタン */
.horizontal-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #5375bd;
  transition: .4s;
  margin-bottom: 1rem;
}
  
.horizontal-border:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#5375bd;
  transition: .2s;
}

.horizontal-border:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:0;
  left: 0;
  border-radius: 3px;
  background:#5375bd;
  transition: .2s;
}

.horizontal-border:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
  }
  
.horizontal-border:hover:after {
  top: 3px;
}

/* ロゴ風 */
.btn-flat-logo {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #5375bd;
  transition: .4s;
  margin-bottom: 1rem;
}
  
.btn-flat-logo:hover {
  background: #78e5e5;
  color: #FFF;
}

/* 塗りつぶし＋下線 */
.btn-flat-bottom-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 7px 10px 10px 10px;
  text-decoration: none;
  color: #FFF;
  background: #5375bd;
  transition: .4s;
  margin-bottom: 1rem;
}
  
.btn-flat-bottom-border > span {
  border-bottom: solid 2px #FFF;
}

.btn-flat-bottom-border:hover {
  background: #91b5fb;
}

/* 塗りつぶし＋上下線 */
.btn-flat-horizontal-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #5375bd;
  transition: .4s;
  margin-bottom: 1rem;
}
  
.btn-flat-horizontal-border > span {
  border-bottom: solid 2px #FFF;
  border-top: solid 2px #FFF;
}

.btn-flat-horizontal-border:hover span {
  padding: 0.1em 0;
}

/* 上だけ角丸 */
.top-radius {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 8px 10px 5px 10px;
  text-decoration: none;
  color: #5375bd;
  background: #e1f3f9;
  border-bottom: solid 4px#5375bd;
  border-radius: 15px 15px 0 0;
  transition: .4s;
  margin-bottom: 1rem;
}
  
.top-radius:hover {
  background: #5375bd;
  color: #FFF;
}

/* 文字が光るように見える */
.sf-like {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #5375bd;
  border-top: solid 3px #00a3d4;
  border-bottom: solid 3px #00a3d4;
  transition: .4s;
  margin-bottom: 1rem;
}
  
.sf-like:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83),
                6px 0px 15px rgba(255, 255, 240, 0.83);
}

/* 左と下にボーダー */
.btn-partial-line {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border-bottom: solid 3px #5375bd;
  border-left: solid 3px #5375bd;
  color: #5375bd;
  transition: .4s;
  margin-bottom: 1rem;
}
  
.btn-partial-line:hover {
  padding-left: 0.7em;
  padding-right: 0.3em;
}

/* 交差線 */
.btn-cross {
  display: inline-block;
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px #5375bd;
  border-bottom: solid 2px #5375bd;
  text-decoration: none;
  font-weight: bold;
  color: #5375bd;
  margin-bottom: 1rem;
}
.btn-cross:before, .btn-cross:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: #5375bd;
  transition: .3s;
}
.btn-cross:before {
  left: 7px;
}
.btn-cross:after {
  right: 7px;
}

.btn-cross:hover{
  color: #03A9F4;
}
.btn-cross:hover:before {
  top: 0px;
  left:0;
  height: 100%;
}
.btn-cross:hover:after {
  top: 0px;
  right: 0;
  height: 100%;
}
/* 角かっこ */
.btn-brackets {
  display: inline-block;
  position: relative;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #000;
  transition: .4s;
  margin-bottom: 1rem;
}
.btn-brackets:hover {
  color:#5375bd;
}
.btn-brackets:before, .btn-brackets:after {
  position: absolute;
  top: 0;
  content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
}
.btn-brackets:before {
  border-left: solid 1px #5375bd;
  border-top: solid 1px #5375bd;
  border-bottom: solid 1px #5375bd;
  left: 0;
}
.btn-brackets:after {
  content: '';
  border-top: solid 1px #5375bd;
  border-right: solid 1px #5375bd;
  border-bottom: solid 1px #5375bd;
  right: 0;
  }

/* ボタン色がスライドして変わる */
a.btn-flat {
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #212529;
  border:none;

  overflow: hidden;
  color: #fff;
  border-radius: 0;
  background: #000;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-96%);
  transform: translateX(-96%);
  background: #5375bd;

}

a.btn-flat:hover{
  color: #fff;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
/* グラデーション */
.gradient-simple {
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  color: #FFF;
  background-image: linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
  transition: .4s;
  margin-bottom: 1rem;
}
  
.gradient-simple:hover {
  background-image: linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
}

/* 立体的グラデーション */
.gradient-3d {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  color: rgba(250, 250, 250);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
  margin-bottom: 1rem;
}
  
.gradient-3d:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

/* 角丸のグラデーション */
.gradient-radius {
  display: inline-block;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
  margin-bottom: 1rem;
}

  .gradient-radius:hover {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
  }

/* 角丸のグラデーションマウスオーバーで変化 */
.gradient-radius2 {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  margin: auto;
  font-weight: bold;
  background-image: linear-gradient(to right, #27acd9 0%, #b4e12b 100%);
  border-radius: 100vh;
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transition: 0.5s;
  margin-bottom: 1rem;
}
.gradient-radius2:hover {
  color: #fff;
  background-image: linear-gradient(to left, #27acd9 0%, #b4e12b 100%);
}
  
/* マウスオーバーでグラデーションに変化 */
.gradient-radius3 {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  height: 2.5rem;
  width: 80px;
  border-radius: 100vw;
  background: #6a6e78;
  background-size: 400%;
  color: #fff;
  margin-bottom: 1rem;
  border: none;
}
.gradient-radius3:hover::before {
  transform: scaleX(1);
}
.gradient-radius3:hover {
  color: #fff;
}
.gradient-radius3 span {
  position: relative;
  z-index: 1;
}
.gradient-radius3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(39, 172, 217, 1) 10.8%,
    rgba(18, 83, 229, 1) 94.3%
  );
  transition: all 0.475s;
}

/* 丸ボタンフラット*/
.circle-flat {
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  font-size: 18px;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
  margin-right: 0.5rem;
}

.circle-flat:hover {
  background: #668ad8;
  color: rgb(255, 255, 255);
}

/* 丸ボタン枠線 */
.circle-border {
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #87befd;
  border: solid 2px rgba(255, 255, 255, 0.47);
  transition: .4s;
  margin-right: 0.5rem;
}
  
.circle-border:hover {
  border-style: dashed;
  color: rgb(255, 255, 255);
}

/* 丸ボタン立体的 */
.circle-3d {
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  font-size: 18px;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #668ad8;
  transition: .4s;
  margin-right: 0.5rem;
}

.circle-3d:hover{
color: rgb(255, 255, 255);
}

.circle-3d:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

/* 丸ボタンエンボス */
.circle-3d-emboss {
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #87befd;
  width: 120px;
  height: 120px;
  font-size: 18px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #668ad8;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.43), 1px 1px rgba(0, 0, 0, 0.49);
  transition: .4s;
  margin-right: 0.5rem;
  }

.circle-3d-emboss:hover{
  color: #ffffff;
}
.circle-3d-emboss:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  border-bottom: none;
}

/* シンプルな円形 */
.circle-border-simple {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 2px #668ad8;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  margin-right: 0.5rem;
}
  
.circle-border-simple:hover {
  background: #b3e1ff;
}

/* 二重円 回転*/
.circle-border-double {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: double 4px #668ad8;
  text-align: center;
  overflow: hidden;
  transition: .6s;
}
  
.circle-border-double:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

/* グラデーション円 */
.circle-gradient {
  display: inline-block;
  text-decoration: none;
  color:  rgb(255, 255, 255);
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: .4s;
}
  
.circle-gradient:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  color:  rgb(255, 255, 255);
}

/* SNSアイコン */
.flowbtn{
  border-radius:13px;		
  position:relative;
  display:inline-block;
  width:50px;
  height:50px;
  font-size:33px;
  color:#fff!important;
  transition:.5s;
  text-decoration:none;
  }

.flowbtn i{
  /* アイコンを真ん中に*/
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  }

.icon_name{
  /* アイコン下の文字 */
  font-size:11px;
  color:#666;	
  position:relative;
  top:45px;
  text-align: center;
  margin-top: 0.2rem;
  }

  /* Instagram紫グラデ背景色 */
.insta_btn {
  background:-webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background:linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;		
  }
/* Instagramオレンジグラデ背景色 */
.insta_btn:before{
  content: '';
  position:absolute;
  top:17px;
  left:-1px;
  width:45px;
  height:34px;
  background:-webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background:radial-gradient(#ffdb2c 5%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
}
/* Instagramアイコン調整 */
  .insta_btn .fa-instagram{
  font-size:40px;	
}

/* Facebook */
.fl_fb1{
  background:rgb(24, 119, 242);
  
}

/* YouTube */
.fl_yu1{
  background:rgb(205, 32, 31);
}

  /* LINE */
.fl_li1{
  background:rgb(0, 195, 0);
}

/* 問い合わせ */
.fl_ma1{
  background:#f3981d;	
}

.flowbtn11{
  font-family:'Verdana',sans-serif;	
  border-radius:4px;
  position:relative;
  display:inline-block;
  width:150px;
  font-size:15px;
  color:#fff!important;
  text-decoration:none;
  margin-bottom:5px;
  padding: 0.3rem;
  text-align: center;
  }

/* Instagramアイコン位置 */
.insta_btn11 .fa-instagram{
  position:relative;
  z-index:1;	
}
  /* Instagram紫グラデ背景色 */
.insta_btn11{
  background:-webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background:linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
}

.flowbtn10{
  display:inline-block;	
  font-size:35px;
  text-decoration:none;
  color:#444;	
}