/* ホーム画面 */
.header_text{
    color: #5f5f5f;
    border: 1px solid #c9c7c7;
    background-color: #ebedef;
    padding: 1rem;
    margin: 0 auto;
}
.icon_wrap{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto 5rem auto;
}
.icon{
    padding: 2rem 4rem;
    margin: 0.5rem;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #f0f8ff;
}

.icon:hover{
    background-color: #add8e6;
    border: 1px solid #f5fffa;
}
.icon_img{
    width:4rem;
    margin: 0 auto;
}

.icon_img img{
    width:100%;
}

.icon dd{
    text-align: center;
    margin: 0.5rem 0;
}

/* 初めてのご利用ガイド */
.guide_title{
    font-size: clamp(12px,2.5vw,22px);
    color: #45c0b0;
}

/* お知らせ */
.news_wrap{
    margin-top: 3rem;
}

.news_contents_wrap{
    border: 1px solid #c9c7c7;
    border-bottom: none;
}

.news_title{
    font-size: clamp(10px,2.5vw,20px);
}

.news_contents{
    padding: 1rem;
    border-bottom: 1px solid #c9c7c7;
}

@media screen and (min-width: 1000px){
    .all_wrap{
        display: flex;
    }

    .right_news{
        width: 25rem;
        margin: 5rem 3rem;
    }

    .guide_wrap{
        border: 1px solid #c9c7c7;
        padding: 1.5rem;
    }
}

@media screen and (max-width: 1000px){

    .guide_text{
        margin: 1rem;
    }
    .news_contents_wrap{
        margin: 1rem;
    }
}
