html,body{
    height: 100%;
    margin: 0;
    background-color: #f5f5f5;
}
.form-signin{
    width: 100%;
    height: 100%;
    max-width: 400px;
    margin:auto;
    padding: 2rem;
    text-align: center;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 1rem;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 5px 10px #cdd0d4;
}
.login_img{
    width: 13rem;
    padding: 2rem 1.5rem ;
    margin: auto;
    background-color: #4f5d73;
}

.login_img img{
    width: 100%;
    margin: auto;
    object-fit: cover;
}

.login_title{
    font-size: 25px;
    margin: 1.5rem auto;
    color: rgb(69, 90, 100);
}