/* 商品情報登録 */

.form_wrap{
    width: auto;
    height: 100%;
    margin: 2rem auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

form{
    margin: 0 auto;
}

.form_contents{
    width: 20rem;
    }

.btn_wrap{
    margin-top: 2rem;
}

@media screen and (min-width: 768px){
    .form{
        display: flex;
        flex-wrap: wrap;
    }

    .form_wrap{
        margin: 2rem auto;
    }

    .form_contents{
        margin: 1rem;
    }

    .btn_wrap{
        width: 80%;
        text-align: right;
    }
}
