/* ユーザ情報登録 */

.form_wrap{
    width: 100%;
    margin: 1rem auto;
    padding: 2rem;
}

.form_contents{
    margin: 1rem auto;
}

@media screen and (min-width: 768px){
    .form_contents{
    width: 20rem;
    }

    .input_group{
    display: flex;
    }

    .form_left{
        margin-right: 2rem;
    }
}

